.menu {
    display: flex;
    align-items: center;
    gap: 50px;

    background-color: rgb(20, 83, 179);
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
}

.menu h1 {

    color: white;
    font-size: 24px;
    margin: 0;
}

.menu ul {
    /*deixar essa lista no final do lado direito*/

    list-style: none;
    margin-left: auto;
    /*empurra a lista para o final do container*/
    display: flex;
    gap: 20px;

}

.menu li {
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.menu li:hover {
    text-decoration: underline;
    /*marcelo odebrecht aaaaaaaahhhhh*/


}